{% extends 'base.html.twig' %}
{% block body %}
<div class="div_cartographie_intro">
    <p>Si vous voyez ce message vous etes connecté !</p>
</div>
<div class="div_cartographie">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1LwCpeeh4oSzhLbK1piy3goAsbId9kW0&ehbc=2E312F" class="cartographie_map"></iframe>
</div>
{% endblock %}
